@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

@media (orientation: landscape){
    .menu {
        display: flexbox;
        flex-direction: row;
    }

    nav ul {
        text-align: left;
    }
    
}
