/* Style Mobile First */
html, body {
 margin: 0px;
 padding: 0px;
 height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e4e3e3; /* Cor de fundo mais clara */
    color: #000000; /* Cor do texto mais escura para melhor contraste */
}

header {
    background-color: #800000; /* Vermelho mais escuro e vibrante */
    color: white;
    padding-top: 1rem 0;
    text-align: center; /* Centraliza o título */
}

header > img {
    max-width: 100px;
    margin: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Adiciona margem abaixo do menu */
}

nav li {
    border-radius: 5px;
    padding: 10px;
    background-color: #b10000;
    display: inline;
    margin: 0 5px; /* Aumenta o espaçamento entre os itens do menu */
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave na cor ao passar o mouse */
}

nav a:hover {
    color: #d6d4d4; /* Cor mais clara ao passar o mouse */
}

main {
    padding: 15px;
}

main > h2 {
    font-size: 2em;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}

.pizza {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.684);
    text-align: center; /* Centraliza o conteúdo da pizza */
}

.pizza > h3 {
    padding-bottom: 10px;
}

.precos {
    margin-top: 10px;
    font-weight: bold;
    display: flex; /* Usa flexbox para alinhar os preços */
    justify-content: space-around; /* Distribui os preços igualmente */
}

.broto {
    color: #000000; /* Vermelho para o preço broto */
}

.grande {
    color: #000000; /* Verde para o preço grande */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer > p > a {
    text-decoration: underline;
    color: white;
}
